<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battery Life Cycle</title>
</head>
<body style="background-color:#d0fffd  ">
<center><h1 style="color:#D50714">Battery Life Cycle Prediction</h1></center><br><br>
<center>

<hr>

<h3>Classifying with first 5 cycle</h3>
<!--    <input type="submit" > <br><br>-->

    </form>
<hr>
<p style="font-size:14px;">
 min: {{a}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
log variance: {{b}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br>
    Charge time: {{e}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 integration of Charge Time : {{g}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br><br>
<p style="font-size:18px;"><b>Actual Life Cycle is: {{j}}</b></p>
    <h2> Predicted {{prediction_text}}</h2>

</center>
</body>
</html>