<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battery Life Cycle</title>
</head>
<body style="background-color:#d0fffd  ">
<center><h1 style="color:#D50714">Battery Life Cycle Prediction</h1></center><br><br>
<center>

<hr>
   <h3>Battery Life Regression</h3>
<!--    <input type="submit" > <br><br>-->
    </form>
<hr>
<p style="font-size:14px;">
 min: {{a}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
log variance: {{b}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 Dis_max: {{c}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <br><br>
Slope: {{d}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Charge time: {{e}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 Intercept: {{f}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br><br>
 integration of Charge Time : {{g}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 iR_min: {{h}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 iR_diff: {{i}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br><br><br><br><br><br><br><br>
<p style="font-size:18px;"><b>Actual Life Cycle is: {{j}}</b></p>
 <h2> Predicted {{prediction_text}}</h2>

</center>
</body>
</html>